.container {    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: '8px';
    flex-direction: column;    
  }
  
  .formContainer {
    width: 100%;
    margin-top: 24px;    
  }

  .submitButton {
    margin: 24px 0 16px;    
  }
  
  .formTitle {
    margin-bottom: 8px;
  }
  
  .formInput {
    margin-bottom: 8px;
  }
  
  .formButton {
    margin-top: 8px;
  }
  