.container {  
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.formTitle {
  margin-bottom: 8px;
}

.formInput {
  margin-bottom: 8px;
}

.formButton {
  margin-top: 8px;
}